@page
@model webapp.Pages.Courses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" />
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CatalogDescription" class="control-label"></label>
                <input asp-for="Course.CatalogDescription" class="form-control" />
                <span asp-validation-for="Course.CatalogDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Section" class="control-label"></label>
                <input asp-for="Course.Section" class="form-control" />
                <span asp-validation-for="Course.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Course_Status" class="control-label"></label>
                <input asp-for="Course.Course_Status" class="form-control" />
                <span asp-validation-for="Course.Course_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.TotalStudents" class="control-label"></label>
                <input asp-for="Course.TotalStudents" class="form-control" />
                <span asp-validation-for="Course.TotalStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.TotalCIDM" class="control-label"></label>
                <input asp-for="Course.TotalCIDM" class="form-control" />
                <span asp-validation-for="Course.TotalCIDM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
